/* .card {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.card div {
    text-align: left;
    display:flex;
    padding-top: 1%
}

label {
    width: 8rem
}

/* .react-datepicker__input-container {
    left: 21px;
    top: -10px
} */

/* .create-button {
    right: 10px;
} */

